.main{
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 20px;
}
.container{
    width:500px;
    padding: 10px 20px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    text-align: center;
    height: 200px;
    border-radius: 8px;
}
.btn{
    padding: 7px 20px;
    color: white;
    background-color: blue;
    cursor: pointer;
    border: none;
    margin-top: 15px;
    border-radius:5px;
}
#wicket{
    padding: 7px 20px;
    color: white;
    background-color: blue;
    cursor: pointer;
    border: none; 
    margin-top: 15px;
    border-radius:5px;
}
.btn-box{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.title{
    font-size: 26px;
    color:red;
    font-family: sans-serif;
    text-shadow: 2px 2px rgba(0,0,0,0.2);
}